@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Rubik+Moonrocks&family=Smooch&family=Splash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    
}
:root{
    --bg-container: #0c122c;
    --bg-doc-dt: #1E2C69;
    --bg-img: #0D1228;
    --clr-text: #838EC4;
    --clr-nmbr: #D6E0FF;
    --clr-circl: #FFE7F7;
    --gb-line: #151E49;
    --clr-line:  linear-gradient(to right ,#FFE7F7 , #FB4E90 90%);
    --clr-big-nmbr: #121731;
    --bg-box-inf: #FFFFFF;
    --font-styl: 'Cormorant Garamond', serif;
}
body{
    background-image: url(images/bg-mobile.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

section{
    width: 27em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin: 5em auto;
    padding: 1em;
}
.documents{
    width: 23em;
    height: 15em;
    background-color: var(--bg-doc-dt);
    border-top-right-radius: 40%;
}
.documents .Logo{
    margin: 2em 0 .6em 3.5em;
    cursor:pointer;
}
.documents .images{
    width: 15em;
    height: 4em;
    margin: 1.1em auto;
}
.documents .images img{
    background: var(--bg-img);
    width: 2.7em;
    height: 2.95em;
    padding: .74em;
    border-radius: 5px;
    margin-right: .6em;
    transition: all .5s;
    cursor:pointer;
}
.documents .images img:hover{
    transform: translateY(-10px);
}
.storage_information{
    width: 23em;
    height: 15em;
    background-color: var(--bg-doc-dt);
    border-radius: 10px;
    position: relative;
}
.storage_information p{
    color: var(--clr-text);
    width: 100%;
    height: 2em;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2em;
    text-align: center;
}
.storage_information p span{
    color: var(--clr-nmbr);
    font-weight: 600;
    font-family: var(--font-styl);
}
.storage_information .line_box{
    width: 19em;
    height: 1.5em;
    border-radius: 10px;
    background: var(--gb-line);
    margin: 0 auto;
}
.storage_information .line_box .inner_line_box{
    width: 75%;
    heighT: 100%;
    background: var(--clr-line);
    border-radius: 10px;
    position: relative;
    animation: trans 2s;
}
@keyframes trans{
    0%{
        width: 5%;
    }
    100%{
        width: 75%;
    }
}
.storage_information .line_box .inner_line_box .circle{
    width:  1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: var(--clr-circl);
    position: absolute;
    right: 0;
    margin-top: .15em;
}
.storage_information .numbres{
    width: 22em;
    height: 1.5em;
    margin: .9em auto;
    color: var(--clr-nmbr);
    font-weight: 600;
    font-size: .9rem;
    position: relative;
}
.storage_information .nmbr0{
    position: absolute;
    left: 0; top: 0;
}
.storage_information .nmbr1000{
    position: absolute;
    right: 0; top: 0;
}
.storage_information .box_inf{
    width: 12em;
    height: 5em;
    background: var(--bg-box-inf);
    position: absolute;
    bottom:-2.5em;
    left: 5em;
    border-radius: 10px;
    color: var(--clr-text);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.storage_information .box_inf span{
    color: black;
    font-weight: 700;
    font-size: 2rem;
    margin-right: .3em;
    font-family: var(--font-styl);
}

/** media **/
@media (min-width: 950px){
    body{
        background: var(--bg-container);
    }
    .bg_img{
        position: absolute;
        bottom: 0; right: 0;
        width: 100%;
        height: 25em;
        background: url(images/bg-desktop.png);
        z-index: -1;
    }
    section{
        flex-wrap: wrap;
        margin-top: 7em;
        width: 52em;
        height: 14em;
        padding-left: 0 ;
        gap: 0;
        align-items: center;
        justify-content: end;

    }
    .documents{
        width: 20em;
    }
    .storage_information{
        width: 28em;
        height: 10em;
    }
    .storage_information .box_inf{
        width: 12em;
        height: 5em;
        background: var(--bg-box-inf);
        position: absolute;
        top:-3em;
        left: 14em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 100% 100%, 91% 75%, 0% 75%);
        
    }
  
}






